!Build/
.last_cover_stats
/META.yml
/META.json
/MYMETA.*
*.o
*.pm.tdy
*.bs

# Devel::Cover
cover_db/

# Devel::NYTProf
nytprof.out

# Dizt::Zilla
/.build/

# Module::Build
_build/
Build
Build.bat

# Module::Install
inc/

# ExtUitls::MakeMaker
/blib/
/_eumm/
/*.gz
/MANIFEST.bak
/pm_to_blib
/*.zip
aclocal.m4
autom4te.cache/
*.tar.gz
/blib/
/.build/
_build/
cover_db/
inc/
thirdparty/*
!thirdparty/
!thirdparty/Makefile.am
!thirdparty/Makefile.in
Build.bat
Makefile
Makefile.old
/pm_to_blib
*.o
*.bs
/_eumm/
public/
config.*
etc/*.cfg
frontend/cache
frontend/source/script
.vscode
.vstags